<a href="<%= @shop.appointment_link %>" class="border border-maxx-black inline-block text-center py-8 px-12 w-full text-[16px] md:text-[24px] cursor-pointer hover:bg-maxx-black hover:text-white">
  Request an Appointment
</a>
