<a href="+1<%= @shop.number_link %>" class="border border-maxx-black inline-block text-center py-8 px-12 w-full text-[24px] cursor-pointer hover:bg-maxx-black hover:text-white">
  Request an Appointment
</a>
