---
layout: default
---

<div class="max-w-[1200px] mx-auto px-8">
  <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>
  <%= yield %>
  <div class="md:py-12">
    <div class="text-old-gold text-center grid md:flex md:flex-row-reverse md:justify-between py-12">
      <%= render Shared::Copyright.new(metadata: site.metadata, resource: resource) %>
    </div>
  </div>
</div>
