<div class="bg-maxx-black text-white py-48">
  <section class="max-w-6xl mx-auto px-4">
    <div class="grid grid-cols-1 space-y-8">
      <aside class="flex justify-center items-center text-center text-xl md:text-2xl">
        Call us to schedule an in-person consultation
      </aside>
      <aside class="flex justify-center items-center text-center">
        <a href="callto:+<%= @shop.number_link %>" style="font-size: 15vw;"><span class="lining-nums"><%= @shop.number %></span></a>
      </aside>
    </div>
  </section>
</div>
