<div class="py-8">
  <footer class="grid grid-cols-1 md:grid-cols-2 gap-4 text-old-gold py-8">
    <section class="flex justify-center md:justify-start text-center md:text-left">
      &copy; Iron Rite Tattoo 2022
    </section>

    <section class="flex justify-center md:justify-end text-center md:text-right">
      <span>Website by <a href="https://danielmdesigns.com"/>Daniel Maldonado</a> and <a href="https://adrianvalenz.com"/>Adrian Valenzuela</a></span>
    </section>
  </footer>
</div>
