<div class="text-old-gold text-center grid md:flex md:flex-row-reverse md:justify-between">
  <div class="pb-4">
    Website by <a href="http://danielmdesigns.com"/>Daniel Maldonado</a> and <a href="https://adrianvalenz.com"/>Adrian Valenzuela</a>
  </div>
  
  <div class="pb-4">
    &copy; Iron Rite Tattoo <span id="year"></span>
  </div>
</div>
