<div class="max-w-6xl mx-auto px-8 py-16">
  <div class="border-t border-bone py-8">
    <div class="flex space-x-16 justify-center items-center">
      <img src="<%= relative_url '/images/icons/home.svg' %>" alt="home icon" />
      <img src="<%= relative_url '/images/icons/facebook.svg' %>" alt="facebook icon" />
      <img src="<%= relative_url '/images/icons/instagram.svg' %>" alt="instagram icon" />
      <img src="<%= relative_url '/images/icons/youtube.svg' %>" alt="youtube icon" />
    </div>
  </div>
</div>
