<section class="grid grid-cols-1 gap-4">
  <aside class="flex justify-center items-center py-20">
    <img src="<%= relative_url '/images/irt/logo.svg' %>" alt="iron rite tattoo logo" />
  </aside>

  <aside class="flex justify-center mx-auto text-2xl md:text-5xl text-center leading-normal md:leading-normal max-w-7xl pb-8">
    Central Texas' finest traditional tattoo parlor. Veteran owned and operated. Proudly serving our nations' military.
  </aside>
</section>
