<a href="<%= @shop.location %>" class="border border-maxx-black inline-block text-center py-8 px-12 w-full text-2xl md:text-5xl cursor-pointer hover:bg-maxx-black hover:text-white">
  <%= @shop.city.capitalize %>
</a>
