/* If you need to add @import statements, do so up here */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

